<div class="page">
  <div class="page-header">
    <div class="page-icon">
      <i class="icon svg focusable">
        <fa-icon [icon]="faVial"></fa-icon>
      </i>
    </div>
    <div class="page-title">Testing Components (Unstable)</div>
    <div class="page-actions">
      <div class="debug-tools">
        <button type="button" mat-icon-button (click)="developerMode = !developerMode" color="accent">
          <i class="icon svg focusable">
            <fa-icon [icon]="facDeveloperMode"></fa-icon>
          </i>
        </button>
      </div>
    </div>
  </div>
  <div class="page-body">
    <app-loader *ngIf="!isReady"></app-loader>
    <div *ngIf="isReady" class="test-content">
      <form [formGroup]="chartTestValues">
        <app-helm-chart [helmChartGroup]="chartTestValues"></app-helm-chart>
      </form>
    </div>
  </div>
  <div class="page-footer">
    <div class="namespaces-actions">
      <button mat-raised-button color="accent" (click)="addChartValue()" type="button">Add ChartValue</button>
      <button mat-raised-button color="accent" (click)="testSave()" type="button">Test Save</button>
    </div>
  </div>
  <div class="log-container">
    <div>
      <mat-form-field>
        <input mat-input type="text" />
      </mat-form-field>
    </div>
    <ul class="log-wrapper">
      <li
        class="log-item"
        *ngFor="let logLine of logs"
        [class.info]="logLine.type === 'Info'"
        [class.error]="logLine.type === 'Error'"
        [class.warn]="logLine.type === 'Warn'"
        [class.debug]="logLine.type === 'Debug'"
        [class.trace]="logLine.type === 'Trace'"
      >
        <div *ngIf="logLine.timestamp">
          {{ logLine.timestamp | date: "medium" }}
        </div>
        <div *ngIf="logLine.type">
          {{ logLine.type }}
        </div>
        <div *ngIf="logLine.class">
          {{ logLine.class }}
        </div>
        <div *ngIf="logLine.message">
          {{ logLine.message }}
          <div *ngIf="logLine.object">
            {{ logLine.object }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
