:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

.settings-header {
  // box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
  //   0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  // transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px 0;
  // border-radius: 4px;
  border-bottom: #fff solid 1px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  i {
    margin-right: 16px;
    margin-left: 4px;
  }
}

.action-form {
  flex-grow: 1;
  width: 100%;
}
.action-flow {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.slider-form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 5px;

  background-color: rgba(0, 0, 0, 0.06);
  padding: 10px;
  border-radius: 4px;

  .mat-hint {
    font-size: 85%;
  }

  .mat-form-field-label {
    font: inherit;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform-origin: 0 0;
    font-size: 0.9em;
  }
}

.system {
  .field-wrapper {
    display: flex;

    .mat-form-field-infix {
      width: unset;
    }
    .mat-form-field {
      flex-grow: 1;
      background-color: rgba(0, 0, 0, 0.06);
      padding: 10px;
      border-radius: 4px;
    }

    .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }
  }
}

.cluster {
  .mat-form-field {
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 10px;
    border-radius: 4px;
  }

  .mat-checkbox {
    background-color: rgba(0, 0, 0, 0.06);
    padding: 10px;
    border-radius: 4px;
  }

  .mat-checkbox + .mat-checkbox {
    margin-left: 8px;
  }
}

.global-values {
  .global-values-item {
    padding: 3px;
    display: flex;
    align-items: center;
  }
  .mat-form-field {
    width: 35%;
    margin-bottom: 10px;
  }

  .mat-form-field + .mat-form-field {
    width: 75%;
    margin-left: 8px;
  }
  .global-values-header {
    display: flex;
    div {
      padding-left: 5px;
      padding-bottom: 2px;
      width: 20%;
    }

    div + div {
      width: 75%;
      margin-left: 8px;
      margin-bottom: 10px;
    }
  }

  .global-values-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.namespaces {
  .namespaces-item {
    display: flex;
    align-items: center;

    .mat-form-field {
      flex-grow: 1;
    }
    .mat-checkbox {
      margin-left: 8px;
    }
  }

  .namespaces-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
