<div class="full-width settings-header">
  <i class="icon svg focusable">
    <fa-icon [icon]="facog"></fa-icon>
  </i>
  Local Development Settings
</div>
<form [formGroup]="settingsForm" (ngSubmit)="upsertSettings()">
  <div class="action-form">
    <mat-accordion class="full-width">
      <mat-expansion-panel
        formGroupName="system"
        novalidate
        [expanded]="true"
        class="system"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>System</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="field-wrapper">
          <mat-form-field>
            <mat-label>Keep Last Backups</mat-label>
            <input matInput formControlName="keepLastBackups" required />
            <mat-hint
              >How many backups of the settings you want to keep</mat-hint
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Retries Policy</mat-label>
            <input matInput formControlName="retry" />
            <mat-hint>How many retries you want the tools operations</mat-hint>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="cluster">
        <mat-expansion-panel-header>
          <mat-panel-title>Cluster</mat-panel-title>
        </mat-expansion-panel-header>
        <div formGroupName="cluster" novalidate>
          <div class="slider-form-field">
            <label class="mat-form-field-label">Cpu's</label>
            <mat-slider
              #cpus
              [max]="8"
              [min]="2"
              [thumbLabel]="true"
              class="full-with"
              formControlName="cpusNumber"
            ></mat-slider>
            <mat-hint>Number of CPUs used in the minukube cluster</mat-hint>
          </div>
          <div class="slider-form-field">
            <label class="mat-form-field-label">Memory Size</label>
            <mat-slider
              #memory
              [max]="16"
              [min]="2"
              step="1"
              [thumbLabel]="true"
              class="full-with"
              formControlName="memorySize"
              [displayWith]="formatClusterMemory"
            ></mat-slider>
            <mat-hint
              >Total memory size in gigabytes assigned to the minikube
              cluster</mat-hint
            >
          </div>
          <div class="slider-form-field">
            <label class="mat-form-field-label">Disk Size</label>
            <mat-slider
              #memory
              [max]="120"
              [min]="20"
              step="5"
              [thumbLabel]="true"
              class="full-with"
              formControlName="diskSize"
              [displayWith]="formatClusterDisk"
            ></mat-slider>
            <mat-hint
              >Total disk size in gigabytes assigned to the minikube
              cluster</mat-hint
            >
          </div>
          <mat-form-field class="full-width">
            <mat-label>Default Namespace</mat-label>
            <input matInput formControlName="defaultNamespace" required />
            <mat-hint
              >This will be used to deploy the services if no namespace is
              defined</mat-hint
            >
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Network Card</mat-label>
            <input matInput formControlName="ethernetName" required />
            <mat-hint>Name of the network card to use</mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Virtual Switch</mat-label>
            <input matInput formControlName="vSwitchName" required />
            <mat-hint>Name of the virtual switch to use</mat-hint>
          </mat-form-field>
          <mat-checkbox formControlName="startTunnelAutomatically"
            >Start Tunnel Automatically</mat-checkbox
          >
          <mat-checkbox formControlName="createExternalSwitch"
            >Create Virtual Switch</mat-checkbox
          >
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="global-values">
        <mat-expansion-panel-header>
          <mat-panel-title>Global Variables</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="global-values-wrapper">
          <div class="global-values-content" formArrayName="globalValues">
            <div class="global-values-header">
              <div>Name</div>
              <div>Value</div>
            </div>
            <div
              *ngFor="let globalValue of globalValues.controls; let i = index"
            >
              <div [formGroupName]="i" class="global-values-item">
                <mat-form-field>
                  <input matInput type="text" formControlName="key" />
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="value" />
                </mat-form-field>
                <button
                  type="button"
                  mat-icon-button
                  (click)="removeGlobalValues(i)"
                >
                  <i class="icon svg focusable">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </i>
                </button>
              </div>
            </div>
          </div>
          <div class="global-values-actions">
            <button
              mat-raised-button
              color="accent"
              (click)="addGlobalValues()"
              type="button"
            >
              Add Variable
            </button>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="namespaces">
        <mat-expansion-panel-header>
          <mat-panel-title>Namespaces</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="namespaces-wrapper">
          <div class="namespaces-content" formArrayName="namespaces">
            <div *ngFor="let namespace of namespaces.controls; let i = index">
              <div [formGroupName]="i" class="namespaces-item">
                <mat-form-field>
                  <mat-label>Namespace</mat-label>
                  <input matInput type="text" formControlName="name" />
                </mat-form-field>
                <mat-checkbox formControlName="injectSidecar"
                  >Inject Sidecar</mat-checkbox
                >
                <button
                  type="button"
                  mat-icon-button
                  (click)="removeNamespace(i)"
                >
                  <i class="icon svg focusable">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </i>
                </button>
              </div>
            </div>
          </div>
          <div class="namespaces-actions">
            <button
              mat-raised-button
              color="accent"
              (click)="addNamespace()"
              type="button"
            >
              Add Namespace
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="action-flow">
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!settingsForm.touched && !settingsForm.dirty"
    >
      Save
    </button>
  </div>
</form>
