<mat-expansion-panel class="default-addons" [formGroup]="settingsForm">
  <mat-expansion-panel-header>
    <mat-panel-title>Default Addons</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="default-addons-wrapper">
    <div class="default-addons-content" formArrayName="defaultAddons">
      <div *ngFor="let defaultAddon of defaultAddons.controls; let i = index" class="default-addons-item">
        <mat-form-field>
          <mat-label>Addon</mat-label>
          <input matInput type="text" [formControlName]="i" [matAutocomplete]="auto" />
        </mat-form-field>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let addon of filteredAddons[i] | async" [value]="addon">
            {{ addon }}
          </mat-option>
        </mat-autocomplete>
        <button type="button" mat-icon-button (click)="removeDefaultAddon(i)">
          <i class="icon svg focusable">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </i>
        </button>
      </div>
    </div>
    <div class="default-addons-actions">
      <button mat-raised-button color="accent" (click)="addDefaultAddon()" type="button">Add Default Addon</button>
    </div>
  </div>
</mat-expansion-panel>
