:host {
  width: 100%;
}

.helm-chart-value-wrapper {
  display: flex;
  align-items: center;

  .helm-chart-value-item {
    width: 100%;
    grid-column: 2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .helm-chart-item-row {
      display: grid;
      grid-template: auto / minmax(100px, 1fr) minmax(60px, auto);
      grid-gap: 10px;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin: var(--tree-label-item-margin);
      padding: 0 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 2px solid var(--textColorPrimary);
      border-radius: 5px;
      background: rgba($color: var(--layoutBackgroundRgb), $alpha: 0.05);

      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      &:hover {
        background-color: rgba(
          $color: var(--textColorTertiaryRgb),
          $alpha: 0.15
        );
      }

      .helm-chart-item-form {
        display: grid;
        grid-template: auto / minMax(100px, 35%) minMax(100px, 1fr);
        grid-gap: 10px;
      }

      .helm-chart-item-action {
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px;
      }
    }

    .helm-chart-item-row .helm-chart-item-col {
      display: flex;
      flex-grow: 1;
    }

    .helm-chart-item-action-col {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 60px;
      padding: 5px;
    }

    .mat-form-field {
      flex-grow: 1;
      align-self: flex-start;
      .icon {
        --size: 12px;
      }

      &.column-span {
        grid-column: span 2;
      }
    }

    .mat-form-field + .mat-form-field {
      margin-left: 5px;
    }

    .helm-chart-value-child {
      width: 100%;
    }
  }

  .helm-chart-value-subitem {
    width: 100%;
    min-width: 300px;

    & .helm-chart-value-wrapper {
      .helm-chart-value-item {
        background-color: unset;
      }
    }
  }
}
