<div *ngIf="chartValueControl" class="helm-chart-values-wrapper tree_label" [formGroup]="control">
  <!-- <li class="tree-sub-options-wrapper">
    <div class="tree-options-filler"></div>
    <div class="tree-options" *ngIf="isValueChartType">
      <button type="button" mat-icon-button (click)="addSubItem()">
        <i class="icon svg focusable">
          <fa-icon [icon]="faPlusCircle"></fa-icon>
        </i>
      </button>
    </div>
  </li> -->
  <div class="helm-chart-values-item">
    <div class="helm-chart-item-row">
      <mat-form-field class="helm-chart-key-field" [class.span-column]="isValueChartType">
        <mat-label>Key</mat-label>
        <input matInput type="text" formControlName="key" />
        <mat-error *ngIf="chartValueControl.get('key').hasError('required')">You need to type a name for the namespace</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!isChartTypeValue()" class="value-form-field">
        <mat-label>Value</mat-label>
        <input matInput type="text" formControlName="value" />
        <button *ngIf="valueContent?.length > 0"  mat-icon-button matSuffix (click)="addValueArrayItem()" [attr.aria-label]="'Hide password'">
          <i class="icon svg focusable">
            <fa-icon [icon]="faPlusCircle"></fa-icon>
          </i>
        </button>
        <mat-error *ngIf="chartValueControl.get('value').hasError('required')">You need to type a name for the namespace</mat-error>
      </mat-form-field>
      <div class="helm-chart-item-action">
        <mat-slide-toggle class="example-margin" [checked]="isValueChartType" (change)="toggle($event)"></mat-slide-toggle>
        <button *ngIf="isValueChartType" type="button" mat-icon-button (click)="addSubItem()">
          <i class="icon svg focusable">
            <fa-icon [icon]="faPlusCircle"></fa-icon>
          </i>
        </button>
        <button *ngIf="index > -1" type="button" mat-icon-button (click)="remove()">
          <i class="icon svg focusable">
            <fa-icon [icon]="faMinusCircle"></fa-icon>
          </i>
        </button>
      </div>
    </div>
    <div *ngIf="isChartTypeValue()" class="helm-chart-values-subitem" class="tree-sub">
      <li *ngFor="let values of chartValues.controls; let i = index">
        <app-helm-chart-value [chartValueControl]="values" [parent]="chartValues" [index]="i"></app-helm-chart-value>
      </li>
    </div>
  </div>
</div>
