:host {
  width: 100%;
  // overflow-x: auto;
}

.helm-chart-values-wrapper {
  display: flex;
  align-items: center;
  // display: grid;
  align-items: center;
  // grid-template: auto/1px 1fr;

  .helm-chart-values-item {
    width: 100%;
    grid-column: 2;
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .helm-chart-item-row {
      display: grid;
      grid-template: auto / 1fr auto auto;
      grid-gap: 10px;
      flex-direction: row;
      align-items: center;
      width: 100%;
      border: 1px solid #c3c4c5;
      border-radius: 5px;
      margin: 2px;
      padding: 0 10px;
      padding-top: 5px;
      background: rgba($color: #000, $alpha: 0.05);
    }

    .helm-chart-item-row:hover {
      background-color: rgba($color: #fff, $alpha: 0.1);
    }

    .helm-chart-item-col {
      display: flex;
      flex-grow: 1;
    }

    .helm-chart-item-action {
      grid-column: 3;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-width: 60px;
      max-width: 130px;
      padding: 5px;
    }

    .helm-chart-item-action-col {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 60px;
      padding: 5px;
    }

    .mat-form-field {
      flex-grow: 1;
      .icon {
        --size: 12px;
      }
    }

    .value-form-field {
      min-width: 50%;
    }

    .mat-form-field + .mat-form-field {
      margin-left: 5px;
    }

    .mat-checkbox {
      margin-left: 8px;
    }
  }

  .helm-chart-values-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.helm-chart-values-item .helm-chart-values-item {
  background-color: unset;
  width: 100%;
}

.helm-chart-values-subitem {
  width: 100%;
  min-width: 300px;

  & .helm-chart-values-wrapper {
    .helm-chart-values-item {
      background-color: unset;
    }
  }
}

.span-column {
  grid-column: span 2;
}
