:host {
  height: 100%;
  padding: 10px 0;
}

.sidebar-header {
  margin: 1.25rem;
  display: flex;
  align-items: center;
}

.sidebar-footer {
  display: flex;
  align-items: center;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
  width: var(--sidebar-width);
  padding-bottom: calc(var(--padding) * 3);
  background: linear-gradient(
      var(--sidebarBackground) 30%,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(rgba(255, 255, 255, 0), var(--sidebarBackground) 70%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 12px, 100% 12px;
  background-attachment: local, local, scroll, scroll;

  &.icon {
    box-sizing: content-box;
    padding: 3px;
    border-radius: 50%;
  }
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  user-select: none;

  > .nav-item {
    text-decoration: none;
    padding: 5px 5px;
    width: 100%;
    height: 100%;
    color: inherit;
    cursor: pointer;

    &.active,
    &:hover {
      background: var(--blue);
      color: var(--sidebarActiveColor);
    }

    > .link-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
