/* You can add global styles to this file, and also import other style files */

:root {
  --sash-size: 4px;
}

:root {
  --sidebar-width: 200px;
}

:root {
  --unit: 8px;
  --padding: var(--unit);
  --margin: var(--unit);
  --border-radius: 3px;
  --font-main: "Roboto", "Helvetica", "Arial", sans-serif;
  --font-monospace: Lucida Console, Monaco, Consolas, monospace;
  --font-size-small: calc(1.5 * var(--unit));
  --font-size: calc(1.75 * var(--unit));
  --font-size-big: calc(2 * var(--unit));
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --main-layout-header: 40px;
  --drag-region-height: 22px;
  --bottom-bar-height: 22px;
  --flex-gap: 8px;
}

:root {
  --blue: #3d90ce;
  --magenta: #c93dce;
  --golden: #ffc63d;
  --halfGray: #87909c80;
  --primary: #3d90ce;
  --textColorPrimary: #8e9297;
  --textColorSecondary: #a0a0a0;
  --textColorTertiary: #909ba6;
  --textColorAccent: #ffffff;
  --textColorDimmed: #8e92978c;
  --borderColor: #4c5053;
  --borderFaintColor: #373a3e;
  --mainBackground: #1e2124;
  --secondaryBackground: #1e2125;
  --contentColor: #262b2f;
  --layoutBackground: #2e3136;
  --layoutTabsBackground: #252729;
  --layoutTabsActiveColor: #ffffff;
  --sidebarBackground: #36393e;
  --sidebarLogoBackground: #414448;
  --sidebarActiveColor: #ffffff;
  --sidebarSubmenuActiveColor: #ffffff;
  --sidebarItemHoverBackground: #3a3e44;
  --buttonPrimaryBackground: #3d90ce;
  --buttonDefaultBackground: #414448;
  --buttonLightBackground: #f1f1f1;
  --buttonAccentBackground: #e85555;
  --buttonDisabledBackground: #808080;
  --tableBgcStripe: #2a2d33;
  --tableBgcSelected: #383c42;
  --tableHeaderBackground: #262b2f;
  --tableHeaderBorderWidth: 1px;
  --tableHeaderBorderColor: #36393e;
  --tableHeaderColor: #ffffff;
  --tableSelectedRowColor: #ffffff;
  --helmLogoBackground: #ffffff;
  --helmImgBackground: #414448;
  --helmStableRepo: #3d90ce;
  --helmIncubatorRepo: #ff7043;
  --helmDescriptionHr: #41474a;
  --helmDescriptionBlockquoteColor: #bbb;
  --helmDescriptionBlockquoteBorder: #8a8f93;
  --helmDescriptionBlockquoteBackground: #3b4348;
  --helmDescriptionHeaders: #3e4147;
  --helmDescriptionH6: #6a737d;
  --helmDescriptionTdBorder: #47494a;
  --helmDescriptionTrBackground: #1c2125;
  --helmDescriptionCodeBackground: #ffffff1a;
  --helmDescriptionPreBackground: #1b1f21;
  --helmDescriptionPreColor: #b4b5b4;
}

body {
  font: var(--font-size) var(--font-main);
}
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  color: var(--textColorPrimary);
}

.flex {
  display: flex;
  --flex-grid: 12;

  &.align-center {
    align-items: center;
  }

  &.gaps:not(.column):not(.reverse) > :not(:last-child) {
    margin-right: var(--flex-gap, 1em);
  }

  .flex > .box.grow {
    flex: 1 0;
  }

  &.full-height {
    height: 100%;
    width: 100%;
  }
}

.flex-col {
  flex-direction: column;
}

.alert-danger {
  color: red;
  background: blue;
}

form {
  .slider-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 5px;

    background-color: rgba(0, 0, 0, 0.06);
    padding: 10px;
    border-radius: 4px;

    .mat-hint {
      font-size: 85%;
    }

    .mat-form-field-label {
      font: inherit;
      pointer-events: none;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      transform-origin: 0 0;
      font-size: 0.9em;
    }
  }
}

*:target {
  color: var(--textColorAccent);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;

  &.green {
    background-color: #009933;
  }

  &.red {
    background-color: #cc3300;
  }
}

.icon {
  --size: 21px;
  --small-size: 18px;
  --smallest-size: 16px;
  --big-size: 32px;
  --color-active: var(--iconActiveColor);
  --bgc-active: var(--iconActiveBackground);
  --focus-color: var(--icon-focus-color, var(--blue));
  display: inline-flex;
  flex-shrink: 0;
  font-style: normal;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  user-select: none;
  box-sizing: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: var(--size);
  width: var(--size);
  height: var(--size);

  &.svg {
    box-sizing: content-box;
  }
}

.hidden {
  display: none;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@import url(./assets/styles/hotbar.scss);
@import url(./assets/styles/statusbar.scss);
@import url(./assets/styles/loader.scss);
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import url(./assets/styles/material-ui.scss);
