.tree_label {
  position: relative;
  display: inline-block;
}

div.tree_label {
  cursor: pointer;
}

.tree_label:after {
  position: absolute;
  top: -35px;
  left: -29px;
  display: block;
  height: 68px;
  width: 41px;
  border-bottom: 1px solid #c3c4c5;
  border-left: 1px solid #c3c4c5;
  border-radius: 0 0 0 15px;
  content: "";
}

.tree {
  margin: 1em;
}

.tree {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.tree li:not(.tree-options-wrapper):not(.tree-sub-options-wrapper) {
  line-height: 1.2;
  position: relative;
  padding: 0 0 0 1em;
}

.tree-options-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  position: relative;

  .tree-options-filler {
    flex-grow: 1;

    &.tree-root-has-children::before {
      display: inline-block;
      background: #c3c4c5;
      position: absolute;
      top: 4px;
      left: -22px;
      height: 15px;
      z-index: 999;
      width: 15px;
      border-radius: 50%;
      content: "";
    }
    &:not(.tree-root-has-children):not(.tree-sub-root-has-children)::before {
      display: none;
    }
  }

  .tree-options {
    display: flex;
    align-items: center;
  }
}

.tree-sub-options-wrapper {
  /* padding: 0;
  /* margin: 0;
  /* line-height: 1.2;
  /* align-items: flex-start;
  /* top: 12px;
  /* justify-content: flex-start;
  // position: relative;
  // height: 100%;
  // display: inline-block;
  */
  padding: 0;
  margin: 0;
  line-height: 1.2;
  align-items: flex-start;
  top: -43px;
  justify-content: flex-start;
  position: relative;
  /* height: 100%; */
  display: inline-flex;
  left: -25px;

  &::after {
    position: absolute;
    top: 20px;
    left: 30px;
    display: block;
    height: 22px;
    width: 6px;
    border-top: 1px solid #c3c4c5;
    border-right: 1px solid #c3c4c5;
    border-radius: 0 15px 0px 0px;
    content: "";
  }
}

.tree ul li {
  padding: 1em 0 0 1em;
}

.tree li:last-child {
  padding-bottom: 0;
}

.tree {
  li:not(.tree-options-wrapper):not(.tree-sub-options-wrapper):last-child::before {
    display: none;
  }

  li:not(.tree-options-wrapper):not(.tree-sub-options-wrapper)::before {
    position: absolute;
    top: 0;
    bottom: -18px;
    left: -15px;
    display: block;
    width: 0;
    border-left: 1px solid #c3c4c5;
    content: "";
  }
}

.tree-options-wrapper:last-child::before {
  display: none;
}
.tree-sub-options-wrapper:last-child::before {
  display: none;
}

.tree li:last-child::before {
  display: none;
}

.tree-sub {
  width: 100%;
}

.tree-sub li:before {
  position: absolute;
  top: 21px;
  bottom: 0;
  left: -15px;
  display: block;
  width: 0;
  border-left: 1px solid #c3c4c5;
  content: "";
}

.tree-sub li:last-child::before {
  display: none;
}

/* .tree-first-child {
//   > .tree_label:nth-child(1)::after {
//     display: none;
//   }
// }
// .tree-root-has-child::before {
//   background: #c3c4c5;
//   position: relative;
//   top: -18px;
//   left: -22px;
//   height: 15px;
//   bottom: 0;
//   z-index: 999;
//   right: 20px;
//   width: 15px;
//   border-radius: 50%;
//   content: "";
//   display: inline-block;
// } */
