.mat-input-element {
  caret-color: #69f0ae;
}

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
  background-color: #69f0ae;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #69f0ae;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #69f0ae;
}
